footer {
    width: 1110px;
    height: 247px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 5px;
    padding: 10px 0px;

    .footer-options {
        width: 100%;
        height: 126px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 35px;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            list-style: none;

            a {
                text-decoration: none;
                color: #808080;
            }
        }
    }

    .social-icons {
        width: 100%;
        height: 30.77px;

        .social-link {
            width: 36px;
            height:100%;
            cursor: pointer;
        }
    }


            
    >a {
        text-decoration: none;
        color: #808080;
        border: 1px solid #808080;
        padding: 6.5px;

        &:hover{
            color: #fff;
            border: 1px solid #fff;
        }
    }

    p {
        width: 100%;
        text-align: center;
    }
}